 
{% extends 'base.html' %}
{% block content %}
 
 {{ post.title }} <br/>
 By:  {{ post.author }} ||
 {{ post.public_date }} <br/>
 

 <div class="detail__container">
     <div class="button">
        <a href="{% url 'post_update' post.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'post_delete' post.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
     </div>
     <div class="detail__about">
    
        <p>{{ post.body }}</p>
     </div>
     <a class="button" href="{% url 'post'  %}">back</a>
 </div>

{% endblock%}