{% extends 'base.html' %}
{% block content %}

<div>

    <h1 class="title pt-5">{{ header }}</h1>
    <!-- this a shearch form if I want to add it  -->
    
    <form class="mb-5" method="get">
        <div class="field has-addons">
            <div class="control">
                <!--  Our input will search by name of the country -->
                <input class="input" type="text" name="title" placeholder="title" />
            </div>
            <div class="control">
                <input class="button is-success" type="submit" value="Search" />
                <!--  This anchor tag will redirect back to card list without a query param -->
                <a class="button is-dark" href="{% url 'post' %}">Clear Search</a>
            </div>
        </div>
    </form>
    <hr>
    <hr>

    <h2>I want to add a map here </h2>

    <div class="tb-center hidden-xs" style="width:320px;max-width:100%;overflow:hidden;">
        <img name="small_world" id="small_world" src="/pix/small_world.png" usemap="#m_small_world" alt="">
            <map name="m_small_world">
                <area shape="poly" 
                    coords="38,73,31,73,37,93,64,96,73,82,104,83,104,71,66,70,50,84,38,73" 
                    href="/Central-America-Caribbean/" 
                    title="Central America &amp; Caribbean"
                    alt="Central America &amp; Caribbean">
                <area shape="poly"
                    coords="39,179,105,165,270,173,272,183,254,189,60,189,39,179" 
                    href="javascript:;" 
                    alt="">
                <area shape="poly"
                    coords="171,52,171,57,175,57,188,84,202,85,213,56,196,49,171,52"
                    href="/Middle-East/"   
                    title="Middle East"
                    alt="Middle East">
                <area shape="poly" 
                    coords="286,98,286,110,253,109,251,139,294,164,333,116,286,98"
                    href="/Oceania/"    
                    title="Oceania" 
                    alt="Australasia">
                <area shape="poly"
                    coords="6,36,50,84,67,69,127,25,154,9,60,9,6,36" 
                    href="/North-America/" 
                    title="North America"
                    alt="North America">
                <area shape="poly" 
                    coords="73,83,60,105,83,162,100,163,116,105,84,82,73,83"
                    href="/South-America/" 
                    title="South America" 
                    alt="South America">
                <area shape="poly"
                    coords="171,58,156,56,138,58,125,72,158,140,199,142,199,85,187,85,175,59,171,58" 
                    href="/Africa/"
                    title="Africa" 
                    alt="Africa">
                <area shape="poly"
                    coords="194,10,196,49,171,50,170,57,156,55,138,57,128,25,158,11,194,10" 
                    href="/Europe/" 
                    title="Europe"
                    alt="Europe">
                <area shape="poly" 
                    coords="196,10,196,49,213,56,210,68,228,107,285,109,290,25,196,10"
                    href="/Asia/" 
                    title="Asia" 
                    alt="Asia">
            </map>
    </div>
    <br />
    <hr>
    <hr>
    
    <div>
        <ul>
            <li> New Photos</li>
            <li> New Blogers</li>
        </ul>
    </div>
    
    <hr>

    
    <div class="gallery">
        {% for post in posts %}
        <a href="{% url 'post_detail' post.pk %}">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="{{post.img}}" alt="{{post.title}}" />
                    </figure>
                </div>
                <div class="card-header">
                   <h1 class="card-header-title">{{post.title}} </h1> 
                    {{post.author}} - {{post.public_date}}
    
    
                </div>
            </div>
        </a>
        <div class="card-body">
            <p>{{ post.body }}</p>
                <!-- | " : 200"  -->
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}

