 
{% extends 'base.html' %}
{% block content %}
 
 {{ post.title }} || {{ post.author }}<br/>
 

 <div class="detail__container">
     <div class="button">
        <a href="{% url 'post_update' post.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'post_delete' post.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
     </div>
     <div class="detail__about">
        <!-- <button>update</button> -->
        <p>{{ post.body }}</p>
     </div>
 </div>

{% endblock%}